$mediumblue: #219ebc;
$lightblue: #8ecae6;
$darkblue: #023047;
$mediumorange: #fb8500;
$titlesize: 30px;
$paragraphsize: 15px;
$edgespace: 20px;
$bradius: 30px;
$basesize: 1em;
$smalltitle: 1.4em;
$largetitle: 1.8em;
$large-window: 1024px;
$medium-window: 860px;
$small-window: 650px;

body {
    padding: 0;
    font-family: 'Raleway', sans-serif;

}
p {
    margin-left: 10px;
}
